In [87]:
from pymongo import MongoClient
import pandas as pd

client = MongoClient('localhost', 27017)
db = client['twitterdb']
collection = db['twitter_search_keywords']
tweets_iterator = collection.find()

In [88]:
# holdme = {'tweet' : [], 'location' : []}
holdme = {}
tweet = []
location = []
for tweets in tweets_iterator:
    if tweets['truncated'] is False:
#         print(tweets['text'])
        tweet.append(tweets['text'])
        location.append(tweets['place']['full_name'])
    else:
#         print(tweets['extended_tweet']['full_text'])
        tweet.append(tweets['extended_tweet']['full_text'])
        location.append(tweets['place']['full_name'])

holdme['location'] = location
holdme['tweet'] = tweet

In [89]:
df = pd.DataFrame.from_dict(holdme)

In [90]:
df = df[['tweet', 'location']]
df.head()

                                               tweet            location
0                              8 guns like squidward  South Whittier, CA
1  Interesting as-applied challenge to Florida #S...      Washington, DC
2  @ed_grimly @HuffPost does it say 18 years old ...         Garland, TX
3      Screw these gun nuts. https://t.co/7mh7p0LoAS        Franklin, MA
4  @icecube taught me back in school how gun cont...      Cedarville, IN

In [91]:
tweet_file = "C://Users//H//Desktop//Spring18//-AdvancedDatabases//Project//tweet_data.csv"
df.to_csv(tweet_file, encoding='utf-8-sig', index=None)